// Button Colors
$button: transparentize(#000000, .9);
$button-hover: transparentize(#000000, .3);

// Primary Colors
	$black: rgb(30, 30, 30);
	$white: rgb(255, 255, 255);
	
	// Splash (Backgrounds)
	$forestGreen: #228b22;
	$dodgerBlue:  #1e90ff;
	$seaBlue:     #34495e;
	$yellow:	  #ffff00;